/SpringBoot/MavanMvcCrue/target/
/SportsStore/MvcEmpCrudTest/target/
/SpringBoot/MvcStuCrud/target/
/SpringBoot/SudentCurd/target/
/Spring/MidEvedence/Evd02Student/Evd02Student/target/
/Spring/MidEvedence/MvcEmpCrudTest/target/
/Spring/MidCrudTest/target/
