table{
    text-align: left;
    color: rgb(238, 75, 34);
    border-collapse: collapse;
    margin-bottom: 150px;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid rgb(238, 75, 34);
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}